Checks: >
  -*,
  misc-const-correctness,
  cppcoreguidelines-avoid-non-const-global-variables,
  clang-diagnostic-unused-variable,
  bugprone-assignment-in-if-condition,
  bugprone-optional-value-conversion,
  bugprone-use-after-move
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: none
